/_build
/cover
/deps
/priv
/test/c/temp/*
!/test/c/temp/.keep
/test/elixir/temp/*
!/test/elixir/temp/.keep
*.ez
core
erl_crash.dump
notebooks/**/.ipynb_checkpoints
samples/**/*.eld
samples/**/*.el1
*.gcda
*.gcno
*.gcov
GPATH
GRTAGS
GTAGS